{% extends 'app/base.html' %}

{% block content %}

<div class="hero">

    <h2>
        Inicio de Sesión
    </h2>

    <p>
        Accede al sistema universitario
    </p>

</div>

<div class="card" style="max-width:600px;margin:auto;">

    {% if error %}

        <div style="
            background:#f8d7da;
            color:#721c24;
            padding:15px;
            border-radius:10px;
            margin-bottom:20px;
        ">

            {{ error }}

        </div>

    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <label>
            Usuario
        </label>

        <input
            type="text"
            name="username"
            placeholder="Ingresa tu usuario"
        >

        <label>
            Contraseña
        </label>

        <input
            type="password"
            name="password"
            placeholder="Ingresa tu contraseña"
        >

        <button type="submit">

            Ingresar

        </button>

    </form>

</div>

{% endblock %}